#randomNumber {
    line-height: 3em;
    font-size: 64px;
}

.stats{
    margin: 20px;
}

.jumbotron h1, h1 {
    font-family: 'Princess Sofia', cursive;
}

h1 {
    font-size: 56px;
}

.jumbotron h1 {
    margin-bottom: 75px;
    font-size: 82px;
}

.jumbotron p {
    font-family: 'Catamaran', sans-serif;
}

.panel, .jumbotron {
    background: transparent;
    border: none;
}

hr {
    border: 2px solid #fff;
}

.container {
    border: 10px solid #fff;
    border-radius: 15%;
    margin-bottom: 60px;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: #fff;
  }

button {
    margin: 70px;
    font-family: 'Princess Sofia', cursive;
}
.btn-lg {
    font-size: 32px;
    color: #435645;
}

.row {
    margin: 0;
}